button {

  font: var(--label-sm);
  color: var(--content-primary);
  background-color: var(--background-tertiary);
 
  height: 56px;
  width: 100%;
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  margin-top: 2.5rem;

  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

  position: relative;

 }

button::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  border: 2px solid transparent;
  background-size: 300%;

}

button:hover::before {
  
background:
linear-gradient(var(--background-tertiary), var(--background-tertiary)) padding-box,
var(--gradient-border) border-box;

animation: borderMove 2s linear;
animation-fill-mode: forwards;

}

@keyframes borderMove {

  0% {
    opacity: 1;
    background-position: 0%;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    background-position: 200%;
  }

}

button span {
  position: relative;
  z-index: 1;
}

button:hover img {
  animation: arrowMove 2s;
}

@keyframes arrowMove {
 0% {
  transform: translateX(0);
 }

 50% {
  transform: translateX(10px);
 }

 100% {
  transform: translateX(0);
 }

}

.btn-replay:hover img {
  animation: rotateIcon 2s linear forwards;
  
}

@keyframes rotateIcon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
button {
  width: 100%;
  margin-bottom: 45px;
}
}