button {

  font: var(--label-md);
  color: var(--content-primary);
  background-color: var(--background-tertiary);
  padding: .1rem 1.5rem;
  width: 400px;
  border-radius: .5rem;
  border: 2px solid transparent;
  transition: 0.2s;
  cursor: pointer;
  margin-top: 2.5rem;

  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;

 }

button:hover {
  background:
    linear-gradient(var(--background-tertiary), var(--background-tertiary)) padding-box,
    var(--gradient-border) border-box;

  background-size: 300%;
  animation: borderMove 0.7s linear;
}

@keyframes borderMove {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 300% 50%;
  }
}