
h2 {
font: var(--label-md);
color: var(--content-primary);
}

.fields {

margin-top: 40px;
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 12px;
text-align: center;

}

.content-form p {
  font: var(--text-lg);
}

.content-form {
  grid-area: form;
  grid-row: 1 / 3;
}

label {
font: var(--label-md);
color: var(--content-secondary);

}

.number-field input {

background-color: var(--background-secondary);
outline: none;
box-sizing: border-box;
border-radius: 8px;
margin-top: 8px;
width: 86px;;
height: 56px;
font: var(--h3);
color: var(--content-primary);
text-align: center;
margin-bottom: 20px;
cursor: pointer;

transition: 0.2s;
border: 2px solid transparent;

}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}


input[type="checkbox"] {
width: 18px;
height: 18px;
transform: scale(1.2);
cursor: pointer;
color: var(--gradient-background)

}

.toggle label {
 color: var(--content-primary);
}

.toggle {
  display: flex;
  font: var(--toggle-sm);
  align-items: center;
  gap: .5rem;
}

.toggle input {
  display: none;
}

.slider {
  width: 40px;
  height: 22px;
  background: var(--content-tertiary);
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
}

.slider::before {
  content: "";
  width: 16px;
  height: 16px;
  background: var(--content-primary);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  transition: 0.3s;
  cursor: pointer;
}

.toggle input:checked + .slider {
  background: var(--gradient-background);
}

.toggle input:checked + .slider::before {
  transform: translateX(18px);
}

.number-field input:hover,
.number-field input:focus {
 
  transform: scale(1.01);
opacity: 0.7;
  background:
    linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
    var(--gradient-border) border-box;
}

.message {
  font-size: 1.4rem;
  margin-top: 1rem;
}

.message.error {
  color: red;
}

.message.success {
  color: green;
}

@media (max-width: 1024px) {
.content-form  p {
  font: var(--text-md);
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  .fields {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  .number-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 
  .number-field  {
   display: flex;
   align-items: center;
}
}

