body {
background-image: url(/assets/img/background.png),  
linear-gradient( 
rgba(0, 0, 0, 0.98), 
rgba(0, 0, 0, 0.90) ) ;

min-height: 100vh;
display: flex;
justify-content: center; 
align-items: center;
}

.container {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-areas: 
" info  form"
"questions  form";
column-gap: 108px;
row-gap: 38px;
margin: auto;
width: min(1200px, 100%);
max-width: 100%;



background-color: var(--color-inverse);
}

.info {
  grid-area: info;
}

.form {
  grid-area: form;
}



.questions {
  grid-area: questions;
}

p {
font: var(--text-sm);
color: var(--content-secondary);
}



.logo {

margin-top: 30px;
width: min(1200px, 100%);
position: absolute;
display: flex;
align-items: center;
gap: 12px;
top: 40px;
  
text-decoration: none;
color: inherit;
color: var(--content-primary);
font: var(--h3);
}

@media (max-width: 768px) {

  .container {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-inline: 28px;
  margin-left: 5px 5px;
  width: 100%;
 
  }
  
 .logo{
margin: auto;
display: flex;
justify-content: center;
}
}

@media (min-width: 768px) {
.logo{

 margin-top: 40px;
}
}